@using Backend_Escaperoom_2.Application.Enums
@using Backend_Escaperoom_2.Application.Helpers
@using Backend_Escaperoom_2.Application.Interfaces

@inject LanguagesHelper Languages
@inject IAppVersionService AppVersionService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escape Room 2° Edición</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/newglyphicon.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/images/logo.png")" alt="Logo" height="40" width="95" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="glyphicon glyphicon-home"></span> @Languages.Home<b class="caret"></b>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(TiposUsuarios.Desarrollador.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/swagger">
                                    <span class="glyphicon glyphicon-book"></span> Swagger Documentation<b class="caret"></b>
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                                    <span class="glyphicon glyphicon-user"></span> @User.Identity.Name<b class="caret"></b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                                    &nbsp;|&nbsp;<b class="caret"></b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <span class="glyphicon glyphicon-log-out"></span> @Languages.Logout<b class="caret"></b>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    <span class="glyphicon glyphicon-log-in"></span> @Languages.Login<b class="caret"></b>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div style="float: left; display: inline-block;">
                &copy; 2023 - Escape Room 2° Edición, Pneuma Consulting S.A - <a asp-area="" asp-controller="" asp-action="">Política de privacidad</a>
            </div>

            <div style="float: right; display: inline-block; ">
                Version : @AppVersionService.Version
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
